[submodule "anything2explainer"]
	path = anything2explainer
	url = https://github.com/Vincentwei1021/anything2explainer.git
[submodule "video-talkcraft"]
	path = video-talkcraft
	url = https://github.com/Vincentwei1021/video-talkcraft.git
[submodule "video-shotcraft"]
	path = video-shotcraft
	url = https://github.com/Vincentwei1021/video-shotcraft.git
[submodule "threeui"]
	path = threeui
	url = https://github.com/MengTo/threeui.git
